.mainsection {
    max-width: 916px;
    margin: auto;
}
h1 {
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 17px;
    text-align: left;
    margin-bottom: 20px;
}

p {
    text-align: left;
    font-size: 17px;
    margin-bottom: 20px;
}

img {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 17px;
}