* {
    box-sizing: border-box;
}
.body {
    width: 1140px;
}
.header{
    position: relative;
    height: 80px;
    width: 1140px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.logo{
    position: absolute;
    height: 80px;
    width: 330px;
    left: 0;
}
.logo img{
    display: block;
    padding-top: 12px;
    margin-left: auto;
    margin-right: 0;
}
.menu{
    position: absolute;
    margin-left: 15px;
    height: 80px;
    width: 500px;
    left: 330px;
}
.menu_btn{
    display: table-cell;
    height: 80px;
    width: auto;
    padding: 0 10px;
    margin-right: -4px;
    vertical-align: middle;
}
.menu_btn a{
    color: #009c17;
    text-transform: uppercase;
    font-size: 12px;
}
.menu_btn p {
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
    text-transform: uppercase;
}
.contacts{
    position: absolute;
    height: 80px;
    width: 310px;
    right: 0;
    background-color: #009c17;
    color: #fff;
}
.leftside{
    width: 60%;
    height: 100%;
    position: relative;
}
.phone-number{
    position: absolute;
    font-size: 14px;
    top: 18px;
    font-weight: 500;
}
.order-call {
    background-color: #e9c517;
    position: absolute;
    height: 37%;
    width: 100%;
    bottom: 0;
    left: 0;
}
.order-call p {
    text-align: center;
    line-height: 28px;
    vertical-align: middle;
    margin: 0;
    font-weight: lighter;
}
.phone-logo{
    margin: 15px;
}