/* GENERAL */

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #000000;
    margin: 0;
}
.container {
    position: relative;
    width: 100%;
    max-width: 970px;
    margin-left: 234px;
}
/* HEADER */

.header__upper {
    width: 100%;
    height: 100px;

    padding: 0 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__bottom{
    width: 100%;
    height: 45px;
    background: #F4F4F4;
}
.wrapper{
    margin-left: 83px;
    height: 100%;
    max-width: 899px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
}
.header__bottom a{
    font-weight: 400;
    font-size: 15px;
    color: #737270;
    text-decoration: none;
    transition: color .2s linear;
}

/* LOGO */

.logo_all{
    width: 169px;
    height: 100%;
}

/* SEARCH */

input, button:focus{
    outline: none;
}
.search {
    height: 40px;
    display: flex;
}
.search_field{
height: 100%;
background: #FFFFFF;
border: 1px solid #E0E0E0;
border-radius: 3px;
font-weight: 600;
font-size: 14px;
color: #757575;
padding: 11px 155px 12px 14px;
margin-right: -10px;
}
.search_button{
height: 100%;
background: #007AFF;
color: #FFFFFF;
font-weight: 700;
font-size: 14px;
border: none;
border-radius: 3px;
padding: 12px 20px;
}

/* MENU */

.menu{
display: flex;
justify-content: space-around;
align-items: center;
}
.menu__links {
    margin-right: 27px;
}
.menu__links:last-child {
    margin-right: 0;
}
.menu_btn{
    padding: 12px 25px;
    border-radius: 3px;
    border: none;
    outline: none;

    cursor: pointer;
}
.white {
    border: 1px solid #757575;
    
    font-size: 14px;
    font-weight: 600;
    color: #757575;
}
.blue {
    background: #007AFF;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
}


/* TITLE */


.page_title{
    text-align: center;
    margin-top: 184px;
}
.page_title h1{
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 30px;
}

/* FORM */

.supform{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.active{
    color: #007AFF;
}
.supform a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14.004px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.28008px;
    color: #878786;
}
.underlined{
    font-style: normal;
    font-weight: 500;
    font-size: 14.004px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.28008px;
    color: #878786;
}
.form{
    width: 970px;
    height: 660.82px;
    left: 234px;
    top: 274px;
    margin-bottom: 80px;

    background: #FFFFFF;
    border: 1px solid #C6C6C5;
    border-radius: 3px;
    padding: 30px 20px;
}
.form_name{
    margin-bottom: 40px;
}
.form_title1{
    margin-bottom: 40px;
}
.form_name_box{
    display: flex;
    justify-content: space-between;
}
.text_field{
    background: #FFFFFF;
    width: 236px;
    border: 1px solid #C6C6C5;
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 14.004px;
    letter-spacing: 0.28008px;
    height: 40px;
    padding-left: 16px;
}
.text_field.except{
    width: 151px;
}
.text_field.full{
    width: 100%;
}
.text_field.trio{
    width: 298px;
}
.form_title{
    font-style: normal;
    font-weight: 500;
    font-size: 14.004px;
    line-height: 17px;
    letter-spacing: 0.28008px;
    margin-bottom: 10px;
    padding-left: 2px;
    display: block;

    color: #000000;
}
.form_header{
    color: #007AFF;
    font-weight: 600;
    height: 30px;
    font-size: 14.004px;
    line-height: 17px;
    letter-spacing: 0.28008px;
    text-transform: uppercase;
}
.form_header:after{
    content: "";
    display: block;
    height: 1px;
    margin-top: 10px;
    background: rgba(198, 198, 197, 0.4);
}
.form_flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.form_bottom_text{
    width: 298px;
    margin: 0 0 0 auto;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 50px;
}
.form_flex.last{
    margin-bottom: 10px;
}
.form_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span{
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}
.menu_bottom{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.menu_title{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
}
.menu_text{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 194px;
}
.menu_text a{
    padding-top: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #1C1C1B;
    text-decoration: none;
    padding-left: 4px;
}
.contacts0::before{
    content: url('/img/facebook.svg');
    position: relative;
    left: -6px;
    top: 5px;
}
.contacts1::before{
    content: url('/img/pinterest.svg');
    position: relative;
    left: -6px;
    top: 5px;
}
.contacts2::before{
    content: url('/img/twitter.svg');
    position: relative;
    left: -6px;
    top: 5px;
}
.contacts3::before{
    content: url('/img/instagram.svg');
    position: relative;
    left: -6px;
    top: 5px;
}
a:hover{
    color: #007AFF;
}

/* FOOTER */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1281px;
    height: 60px;
    margin-left: 79px;
    border-top: 1px solid rgba(198, 198, 197, 0.5);
}
.footer a{
    padding-right: 25px;
}
.underlined.not{
    text-decoration: none;
}